$settings: visited, best-jokes, tv-program, car-news, weather, traffic-jums, 
    map, рlaybill;

@each $setting in $settings 
{
    .#{$setting}:checked ~ .header label[for='#{$setting}']
    {
        .setting__checkbox 
        {
            border-color: $lightBlue;
            background-color: $lightBlue;
        }

        .setting__checkmark
        {
            stroke-dashoffset: 0;
        }
    }
}

input[type='checkbox']
 {
    display: none;
}

.setting
 {
    font-size: 14px;
    user-select: none;
    display: block;

    &__checkbox 
    {
        display: inline-block;
        position: relative;
        top: 1px;
        padding: 8px;
        margin-right: 3px;
        border-radius: 3px;
        zoom: .7;
        border: 1px solid gray;
        transition: all .3s ease;
    }

    &:hover .setting__checkbox
    {
        border-color: $lightBlue;
    }

    &__checkmark 
    {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all .3s ease;
        transition-delay: .1s;
        transform: translate3d(0, 0, 0);
    }
}
