.desk-notif
{
    border: 1px solid #ececec;
    border-radius: 3px;
    position: absolute;
    padding: 10px 14px;
    right: 10px;
    top: 10px;
    width: 152px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
    line-height: 200%;
}

.desk-notif__login
{
    display: block;
    font-weight: 900;

    &::first-letter
    {
        color: $yandexRed;
    }
}

.desk-notif__mail
{
    display: block;

    &-amount
    {
        font-weight: 900;
    }
}
