$borderColor: #6d6d6d50;
$lightBlue: #3b98fe;
$blue: #0054b9;
$gray: #999;
$yandexRed: #c00;
$yellow: #ffdb4d;

@import 'link.scss';
@import 'checkbox.scss';
@import 'header.scss';
@import 'desk-notif.scss';
@import 'news.scss';
@import 'adverts.scss';
@import 'search.scss';
@import 'wigets.scss';
@import 'page-grid.scss';

@font-face
{
    font-family: 'YS Text';
    src: url(https://yastatic.net/s3/home/fonts/ys/1/text-regular.woff2);
}

input[type='checkbox'],
input[type='radio']
 {
    display: none;
}


body
{
    font: 81.25% 'YS Text';
}

.yandex__logo
{
    margin: auto 0 auto auto;
}
