$borderColor: #6d6d6d50;
$lightBlue: #3b98fe;
$blue: #0054b9;
$gray: #999;
$yandexRed: #c00;
$yellow: #ffdb4d;

@import 'link.scss';
@import 'checkbox.scss';
@import 'header.scss';
@import 'desk-notif.scss';
@import 'news.scss';
@import 'adverts.scss';
@import 'search.scss';

@font-face
{
    font-family: 'YS Text';
    src: url(https://yastatic.net/s3/home/fonts/ys/1/text-regular.woff2);
}

label
{
    cursor: pointer;
    user-select: none;
}

body
{
    font: 81.25% 'YS Text';
}

.yandex__logo
{
    grid-area: logo;
    margin: auto 0 auto auto;
}

.news
{
    grid-area: news;
}

.advert-long
{
    grid-area: advert-long;
}

.advert-square
{
    grid-area: advert-square;
}

.search
{
    grid-area: search;
}

.wigets
{
    grid-area: wigets;
}

.page 
{
    display: grid;
    grid-template: '. news advert-square'
        'logo search search'
        '. advert-long advert-long'
        'wigets wigets wigets' /2fr 2fr 3fr;
}
