.link
{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: $blue;

    &:hover
    {
        transition: .15s ease;
        color: $yandexRed !important;
    }
}

.link-black
{
    color: black;
}
