@font-face {
    font-family: 'Yandex Sans Display Regular';
    src: url('font/YandexSansDisplay-Regular.eot');
    src: url('font/YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/YandexSansDisplay-Regular.woff') format('woff'),
    url('font/YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main
{
    display: grid;
    height: 1000px;
    grid-template-columns: 16% 67% 16%;
    grid-template-rows: 4% 4% 22% 10% 14% 46%;
    font-family: 'Yandex Sans Display Regular';
}
/*Header styles*/

.main__city_name
{
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
    height: fit-content;
}

.main__city_name:hover
{
    color: red;
    cursor: pointer;
}

.main__city_name:hover > .main__location-icon
{
    content: url('pics/cursorRed.svg');
    width: 15px;
    height: 15px;
}

.main__city_name
{
    color: #808080;
}

.main__location-icon
{
    content: url('pics/cursor.svg');
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.main__mail-counter
{
    font-weight: bold;
}

.main__user-window
{
    border: 1px solid black;
    grid-row: 1 / span 2;
    grid-column: 3;
}

.main__user-mail-link,
.main__user-name
{
    padding: 5px;
    display: block;
}

.main__user-name::first-letter
{
    color: #f00;
}

.main__user-name
{
    font-weight: bold;
}

/*Setting window*/

.main__configs
{
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    margin-right: 10px;
}

.setting-container__open-window-checkbox,
.setting-container__window
{
    display: none;
}

.setting-container__open-window-checkbox:checked ~ .setting-container__window
{
    display: flex;
}

.setting-container__window
{
    flex-direction: column;
    position: absolute;
    top: 8%;
    right: 13%;
    background: #fff;
    box-shadow: 0 0 7px #000;
    padding: 20px;
}

.conf-item[value='trend']:checked ~ .main__widgets .main__trend-widget,
.conf-item[value='humour']:checked ~ .main__widgets .main__humour-widget,
.conf-item[value='tv']:checked ~ .main__widgets .main__tv-widget,
.conf-item[value='auto']:checked ~ .main__widgets .main__auto-widget,
.conf-item[value='sky']:checked ~ .main__widgets .main__sky-widget,
.conf-item[value='jam']:checked ~ .main__widgets .main__jam-widget,
.conf-item[value='maps']:checked ~ .main__widgets .main__map-widget,
.conf-item[value='events']:checked ~ .main__widgets .main__events-widget
{
    display: flex;
}

.conf-item[value='trend']:checked ~ .main__configs label[for='trend']::before,
.conf-item[value='humour']:checked ~ .main__configs label[for='humour']::before,
.conf-item[value='tv']:checked ~ .main__configs label[for='tv']::before,
.conf-item[value='auto']:checked ~ .main__configs label[for='auto']::before,
.conf-item[value='sky']:checked ~ .main__configs label[for='sky']::before,
.conf-item[value='jam']:checked ~ .main__configs label[for='jam']::before,
.conf-item[value='maps']:checked ~ .main__configs label[for='maps']::before,
.conf-item[value='events']:checked ~ .main__configs label[for='events']::before
{
    content: '';
    background: url('pics/view.svg');
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
}

.conf-item[value='trend'] ~ .main__configs label[for='trend']::before,
.conf-item[value='humour'] ~ .main__configs label[for='humour']::before,
.conf-item[value='tv'] ~ .main__configs label[for='tv']::before,
.conf-item[value='auto'] ~ .main__configs label[for='auto']::before,
.conf-item[value='sky'] ~ .main__configs label[for='sky']::before,
.conf-item[value='jam'] ~ .main__configs label[for='jam']::before,
.conf-item[value='maps'] ~ .main__configs label[for='maps']::before,
.conf-item[value='events'] ~ .main__configs label[for='events']::before
{
    content: '';
    background: url('pics/hide.svg');
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
}

.conf-item[value='trend']:checked ~ .main__widgets .main__humour-widget,
.conf-item[value='humour']:checked ~ .main__widgets .main__trend-widget,
.conf-item[value='tv']:checked ~ .main__widgets .main__auto-widget,
.conf-item[value='auto']:checked ~ .main__widgets .main__tv-widget
{
    margin-bottom: 10px;
}

.conf-item
{
    display: none;
}

/*News block styles*/

.main__news-widget
{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 70% 30%;
}

.main__news-section
{
    font-size: 16px;
    grid-column: 1;
    display: flex;
    flex-direction: column;

}

.main__news-links
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news-list
{
    margin: 0;
    padding-left: 0;
}

.news-list__item
{
    margin: 5px 0;
}

.main__now_smi_label
{
    color: #0054b9;
    font-size: 18px;
}

.main__in_ekb_label
{
    color: #00f;
    font-size: 17px;
}

.main__date-label
{
    color: #808080;
    font-size: 16px;
}

.main__adv-section
{
    width: 100%;
    height: 100%;
    grid-column: 2;
}

.main__money-index
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0 10px;
}

.money-index__source-label
{
    font-weight: bold;
}

.money-index__change
{
    font-size: 16px;
    color: #808080;
}

.money-index__more-label
{
    font-size: 18px;
    color: #808080;
}

/*Searching string styles*/

.main__searching-section
{
    grid-column: 2;
    grid-row: 4;
}

.searching-bar__hints-display,
.main__searching-section-links
{
    height: 30%;
}

.searching-bar__input-container
{
    background: #fadb39;
    height: 100%;
    position: relative;
    width: 100%;
}

.searching-bar__input-container::before
{
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid #fadb39;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.searching-bar__input-container-input
{
    height: 70%;
    margin: 3px;
    width: 90%;
    font-size: 20px;
}

.searching-bar__input-container-input:focus
{
    outline: none;
}

.searching-bar__input-container-label
{
    width: fit-content;
    margin-left: 10px;
    font-size: 20px;
}

.main__searching-section-links
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.main__searching-section-link
{
    color: #0054b9;
    font-size: 19px;
}

.searching-bar__hints-display
{
    display: flex;
}

.searching-bar__motto
{
    padding: 5px;
}

.searching-bar__example
{
    color: #808080;
}

.searching-bar
{
    height: 40%;
}

.main__logo
{
    grid-column: 1;
    grid-row: 4;
    justify-self: end;
    width: 180px;
    height: 100px;
}
/*Big banner styles*/

.main__banner
{
    grid-row: 5;
    grid-column: 2;
    width: 90%;
    height: 80%;
    margin: 5px 0;
}

/*Widgets styles*/

.main__widgets
{
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-flow: column wrap;
}

.widgets-item
{
    width: 33%;
    height: fit-content;
}

.main__widget-title
{
    color: #0054b9;
    display: block;
    font-size: 22px;
    height: fit-content;
}

.main__emphasize-label
{
    font-weight: bold;
}

.first-item
{
    display: flex;
    align-items: center;
}

/*trend widget*/

.main__trend-widget
{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    margin: 10px 5px 20%;
}

/*Humour widget*/

.main__humour-widget
{
    margin: 10px 5px 30%;
    display: none;
    flex-direction: column;
    height: 35%;
}

.humour-widget__jokes-display
{
    height: 80%;
    display: flex;
    flex-direction: column;
}

.humour-widget__genre-label
{
    color: #00f;
}

.humour-widget__widget-item
{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.humour-widget__jokes-radio[id='1to2']:checked ~ .second-joke,
.humour-widget__jokes-radio[id='2to3']:checked ~ .third-joke,
.humour-widget__jokes-radio[id='3to4']:checked ~ .forth-joke,
.humour-widget__jokes-radio[id='4to5']:checked ~ .fifth-joke,
.humour-widget__jokes-radio[id='5to1']:checked ~ .first-joke
{
    display: flex;
}

.humour-widget__jokes-radio
{
    display: none;
}

.humour-widget__loading-icon
{
    display: inline-block;
    vertical-align: top;
    background: url('pics/loading.svg');
    width: 16px;
    height: 16px;
}

/*TV widget*/

.tv-widget-button
{
    width: 30%;
    height: 20%;
    margin-left: 15px;
    align-self: end;
}

.main__tv-widget
{
    display: none;
    margin: 10px 5px 30%;
    flex-direction: column;
    justify-content: space-between;
    height: 36%;
}

.tv-widget__channel-label
{
    color: #808080;
}

/*Auto news widget*/

.main__auto-widget
{
    margin: 10px 5px 20%;
    display: none;
    flex-direction: column;
    height: 55%;
    position: relative;
}

.auto-widget__items-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.auto-widget__items-container::before
{
    position: absolute;
    top: 36px;
    width: 100%;
    content: '';
    height: 50px;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 80%);
}

.auto-widget__items-container::after
{
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    height: 50px;
    background: linear-gradient(to top,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 80%);
}

.auto-widget__item
{
    margin: 4px 0;
}

.auto-widget__time-label
{
    color: #808080;
    font-size: 15px;
}

/*sky and jam widget*/

.sky-widget__picture,
.jam-widget__picture
{
    width: 11%;
    height: 45%;
    margin-left: 4px;
}

.main__sky-widget,
.main__jam-widget
{
    margin: 10px 5px;
    display: none;
    flex-direction: column;
    height: 12%;
}

.sky-widget__temperature-label,
.jam-widget__score-label
{
    font-size: 20px;
    margin-left: 4px;
}

/*Maps widget*/

.main__map-widget
{
    margin: 10px 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
}

.map-widget__first-row-items
{
    display: flex;
    width: 46%;
    justify-content: space-between;

}

/*events widget*/

.main__events-widget
{
    margin: 10px 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.events-widget-item
{
    margin: 4px 0;
}

.events-widget-item__genre-label
{
    color: #808080;
}
