body
{
    font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
    -moz-font-feature-settings: 'liga', 'kern';
    font-feature-settings: 'liga', 'kern';
    color: #000;

    padding: 1%;
    display: grid;
    grid-template: 'header aside' 42px
        'main aside' auto / auto 180px;
}

header
{
    grid-area: header;
}

main
{
    display: grid;
    grid-area: main;
    justify-items: right;
}

main article
{
    font-size: 80%;
    width: 900px;
    /* теоретически, нужны другие ширины в зависимости от размера*/
}

aside
{
    grid-area: aside;
}

a /* yes, all of them */
{
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-out;
    -webkit-transition: color .15s ease-out;
}

a:hover
{
    color: #c00;
}

/* news */

.news-title
{
    display: inline;
    padding-right: 18px;
}

.news-time
{
    font: 85% Verdana, Arial, Helvetica, sans-serif;
    color: #999;
}

.news-time a
{
    color: #999;
}

.news-time a:hover
{
    color: #c00;
}

/* search */

.logo
{
    width: 140px;
    position: absolute;
    margin: 42px -160px;
}

.search
{
    display: grid;
}

.search-link
{
    display: inline;
    margin-right: 20px;
    color: #0054b9;
    font-size: 123%;
}

.search-bar,
.search-button
{
    height: 36px;
}

.search-bar
{
    border: 2px solid #fc0;
    width: 800px;
}

.search-button
{
    width: 88px;
}

/* widgets */

.widget
{
}

.search-links-list,
.widget-list
{
    list-style-type: none;
    margin-left: -40px;
    line-height: 200%;
}

.widget-title
{
    color: #0054b9;
    font-weight: 500;
}

.widget-title-second
{
    color: #62a2e1;
}

/* widget popular */

.popular-list-header
{
    font-size: 123%;
    font-weight: 700;
}
