@font-face
{
    font-family: 'Yandex Sans Display';
    src: url('../markup-task-7/fonts/YandexSansText-Bold.eot');
    src: url('../markup-task-7/fonts/YandexSansText-Bold.eot?iefix') format('eot'),
        url('../markup-task-7/fonts/YandexSansText-Bold.ttf') format('ttf'),
        url('../markup-task-7/fonts/YandexSansText-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Yandex Sans Display';
    src: url('../markup-task-7/fonts/YandexSansText-Medium.eot');
    src: url('../markup-task-7/fonts/YandexSansText-Medium.eot?iefix') format('eot'),
        url('../markup-task-7/fonts/YandexSansText-Medium.ttf') format('ttf'),
        url('../markup-task-7/fonts/YandexSansText-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Yandex Sans Display';
    src: url('../markup-task-7/fonts/YandexSansText-Regular.eot');
    src: url('../markup-task-7/fonts/YandexSansText-Regular.eot?iefix') format('eot'),
        url('../markup-task-7/fonts/YandexSansText-Regular.ttf') format('ttf'),
        url('../markup-task-7/fonts/YandexSansText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Yandex Sans Display';
    font-size: 16px;
    color: black;
    background: white;
}

.headline 
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

a
{
    text-decoration: none;
    color: black;
}

.city-name
{
    height: 20px;
    padding-top: 20px;
}

.city-name a::before
{
    content: url('./pictures/ar.png');
}

.city-name:hover a::before
{
    content: url('./pictures/red-arrow.png');
}

.city-name a
{
    color: #666;
}

.settings
{
    margin-left: 850px;
    margin-top: 20px;
}

.e-mail
{
    width: 120px;
    height: 60px;
    box-shadow: -1px 1px 6px 1px #888;
    display: flex;
    flex-direction: column;
}

.e-mail a
{
    margin: auto;
}

.e-mail a:first-child::first-letter
{
    color: red;
}

._text-bold
{
    font-weight: 700;
}

.wrapper
{
    height: 100%;
    display: grid;
    grid-template: '. news news small-advertising .' 25%
        '.    menu        menu        menu        .' 3%
        '.    logo        serch       serch       .' 5%
        '.    advertising advertising advertising .' 12%
        '.    block-one   block-two   block-three .' 50%
        /10% 30% 25% 20% 15%;
}

.news
{
    grid-area: news;
    display: flex;
    flex-direction: column;
    margin-left: 41px;
   
}

.news__header
{
    display: grid;
    grid-template: 'now where date' 1fr
        /21% 24% 55%;
    grid-gap: 2px;
    margin-left: 20px;
}

._blue-link
{
    font-size: 20px;
    color: #0054b9;
}

.news__header_light-blue a
{
    font-size: 20px;
    color: #6da2e1;
}

.news__header__date 
{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    height: 5px;
}

.news__header__date div
{
    padding-left: 5px;
    color: #888;
    font-size: 14px;
    margin-top: 5px;
    
}

.news__header__date__time a
{
    color: #888;
}

ul
{
    list-style: none;
}

.all-news__elements li::before
{
    content: '\2022';
    color: #888;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-left: -50px;
}

.all-news li
{
    padding-bottom: 10px;
}

.rate
{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.rate div
{
    margin-right: 30px;
    padding-top: 2px;
}

.small-advertising
{
    grid-area: small-advertising;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small-advertising__explanation
{
    padding-top: 5px;
}

.menu
{
    grid-area: menu;
    margin-right: 200px;
    margin-left: 60px;
}

.menu ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.menu__elements
{
    list-style: none;
    
}

.menu__elements li a
{
    font-size: 18px;
}

.logo
{
    grid-area: logo;
    margin-left: -80px;
}

.serch
{
    grid-area: serch;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    
}

.serch__input
{
    margin-top: 13px;
    height: 30px;
    border: 2px solid #ffdb5d;
    width: 819px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: -345px;
}

.serch__button
{
    border: 2px solid #ffdb5d;
    text-align: center;
    height: 21px;
    width: 75px;
    margin-top: 13px;
    padding-top: 5px;
    background: #ffdb5d;
    
    clip-path: polygon(
        0 0,
        80% 0,
        100% 50%,
        80% 100%,
        0 100%
    );
}

.serch__button:hover
{
    background: #f7d14b;
    border: 2px solid #f7d14b;
}

.serch__button:active
{
    background: #f0bf0e;
    border: 2px solid #f0bf0e;
}

.button__text
{
    margin-left: -10px;
}

.advertising
{
    grid-area: advertising;
    margin-left: 55px;
}

.visited-content__elements
{
    display: flex;
    flex-direction: column;
}

.visited-content__elements li
{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    margin-bottom: 10px;
}

.block-one
{
    grid-area: block-one;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-bottom: 40px;
}

.joke__one_section
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-joke
{
    margin-right: 100px;
}

.tab
{
    padding-left: 5px;
}

.block-two
{
    grid-area: block-two;
}

._tv-online
{
    margin-left: 40px;
}

.TV__content_list li 
{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

._red-link:hover
{
    color: red;
}

.programm
{
    margin-left: 10px;
    margin-right: 10px;
}

.content__channel
{
    color: #666;
    font-size: 14px;
}

.auto__content
{
    overflow-y: scroll;
    
    height: 200px;
    width: 300px;
}

.auto__content_list li
{
    display: inline-block;
    margin-left: -40px;
    margin-right: 0;
    margin-bottom: 5px;
}

.auto__content_list li:not(a)
{
    color: #666;
}

.weather
{
    margin-bottom: 20px;
}

.weather__first div
{
    display: inline;
    margin-right: 5px;
}

.traffic__first div
{
    display: inline;
}

.block-three
{
    grid-area: block-three;
}

.map
{
    margin-top: 20px;
}

.map__data div
{
    margin-top: 5px;
    display: inline-block;
}

.map__data div div
{
    margin-right: 25px;
}

.afish
{
    margin-top: 20px;
}

.afish_list li
{
    margin-left: -40px;
    margin-bottom: 5px;
}

.afish_list li a
{
    margin-right: 15px;
}

.afish_list li:not(a)
{
    color: #666;
}
