a
{
    text-decoration: none;
}

a:hover
{
    color: #d31919;
}

.main-content
{
    display: grid;
    grid-template-columns: 1fr 17%;
    grid-template-rows: 80px 260px 80px 150px auto;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 40px;
}

.geolocation
{
    display: flex;
    align-items: center;
}

.geolocation__icon
{
    background-image: url('./images/icons/geolocation.svg');
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.geolocation__link
{
    color: #a1a1a1;
    text-decoration: none;
    font-size: 14px;
}

.geolocation:hover
{
    cursor: pointer;
}

.geolocation:hover .geolocation__icon
{
    background-image: url('./images/icons/geolocation-red.svg');
}

.geolocation:hover .geolocation__link
{
    color: #d31919;
}

.settings
{
    display: flex;
}

.settings__icon
{
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.bookmark-icon
{
    background-image: url('./images/icons/bookmark.svg');
}

.bookmark-icon:hover
{
    background-image: url('./images/icons/bookmark-dark.svg');
    cursor: pointer;
}

.notification-icon
{
    background-image: url('./images/icons/notification.svg');
}

.notification-icon:hover
{
    background-image: url('./images/icons/notification-dark.svg');
    cursor: pointer;
}

.settings__link
{
    font-size: 14px;
    color: #000;
}

.mail
{
    grid-column: 2 / 2;
    grid-row: 1 / 5;
    padding: 8px;
}

.mailbox
{
    box-shadow: 0 0 3px #a1a1a1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    font-size: 14px;
}

.mailbox__login
{
    font-weight: 500;
    color: #000;
}

.mailbox__login::first-letter
{
    color: #d31919;
}

.mailbox__letters
{
    margin-top: 14px;
    color: #000;
}

.mailbox__letters-count
{
    font-weight: 500;
}

.news
{
    padding: 0 20px 0 230px;
    display: flex;
    justify-content: space-between;
}

.news-content__header
{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
}

.news-content-header__headline,
.news-content-header__geolocation
{
    font-weight: 500;
}

.news-content-header__geolocation
{
    padding-left: 16px;
    color: #74abe4;
}

.news-content-header__date
{
    padding-left: 16px;
    font-size: 12px;
    color: #a1a1a1;
    margin: 0 0 1px;
}

.news-content-header__time
{
    padding-left: 4px;
    font-size: 12px;
    color: #a1a1a1;
}

.news-content__news-list
{
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 0;
}

.news-list__news
{
    padding-bottom: 14px;
}

.news-list__link
{
    color: #000;
}

.stock-market
{
    display: flex;
    padding-left: 20px;
    font-size: 14px;
}

.stock-market__stock-value
{
    margin: 0;
}

.stock-market__name
{
    font-weight: 500;
    color: #000;
    padding-right: 4px;
}

.stock-market__stock-value-fall-index
{
    padding: 0 14px 0 6px;
    color: #d31919;
    font-weight: 400;
}

.stock-market__move-icon
{
    background-image: url('./images/icons/more.svg');
    width: 12px;
    height: 12px;
    margin-top: 2px;
}

.stock-market__move-icon:hover
{
    background-image: url('./images/icons/more-dark.svg');
    cursor: pointer;
}

.news__advertising
{
    width: 160px;
    padding-right: 160px;
}

.news-advertising__image
{
    width: 160px;
    height: auto;
    margin-bottom: 14px;
}

.news-advertising__headline
{
    font-weight: 500;
}

.news-advertising__description
{
    margin-bottom: 0;
    font-size: 14px;
}

.search
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__headline
{
    font-size: 46px;
    font-weight: 400;
    margin: 0;
    padding-left: 80px;
}

.search__headline::first-letter
{
    color: #d31919;
}

.search__headline-link
{
    color: #000;
}

.search__headline-link:hover
{
    color: #000;
}

.search-content-menu-items__menu-item
{
    padding-right: 20px;
}

.search-content__search-form
{
    padding-right: 98px;
}

.search-form__search-input
{
    width: 740px;
    height: 40px;
    border: 2px solid #ffdc57;
    border-right: none;
}

.search-form__search-button
{
    display: inline-block;
    position: relative;
    padding: 15px;
    font-size: 22px;
    background-color: #ffdc57;
    color: #000;
    transform: scale(.72);
    padding-left: none;
}

.search-form__search-button
{
    border-right-style: none;
}

.search-form__search-button::before,
.search-form__search-button::after
{
    content: '';
    position: absolute;
}

.search-form__search-button::before
{
    top: -2px;
    right: -54px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-color: #fff;
}

.search-form__search-button::after
{
    top: 0;
    right: -54px;
    border: 27px solid transparent;
    border-left-color: #ffdc57;
}

.search-content__description
{
    font-size: 14px;
    margin: 6px 0 0;
}

.description-example
{
    color: #a1a1a1;
}

.advertising
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.advertising__image
{
    width: 756px;
    height: auto;
}

.widgets
{
    padding-left: 244px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.widget
{
    width: 240px;
}

.widgets-headline,
.widget-visited__category
{
    font-weight: 500;
}

.widget-visited__line,
.widget-visited__category,
.widget-visited__content
{
    font-size: 14px;
}

.widget-visited__category,
.widget-visited__content
{
    color: #000;
}

.widgets__anecdotes
{
    grid-column: 1 / 1;
}

.widget-anecdotes__category
{
    padding-top: 14px;
}

.widget-anecdotes__category,
.widget-anecdotes__anecdote
{
    font-size: 14px;
    margin: 0;
}

.widget-anecdotes__more-anecdotes
{
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-size: 14px;
}

.widget-anecdotes__more-anecdotes-icon
{
    background-image: url('./images/icons/more-anecdotes.svg');
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.widget-anecdotes__more-anecdotes:hover .widget-anecdotes__more-anecdotes-icon
{
    background-image: url('./images/icons/more-anecdotes-bright.svg');
    cursor: pointer;
}

.widgets__tv-program
{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-top: 14px;
}

.widget-tv-program__headline
{
    padding-right: 20px;
}

.widget-tv-program__tv-online-link
{
    font-size: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #74abe4, #541deb);
}

.widget-tv-program__tv-online-link:hover
{
    color: #fff;
    font-size: 14px;
}

.widget-tv-program__time,
.widget-tv-program__program-name,
.widget-tv-program__channel
{
    font-size: 14px;
}

.widget-tv-program__program-name
{
    color: #000;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.widget-tv-program__channel
{
    padding-left: 10px;
    color: #a1a1a1;
}

.widget-auto-news__news
{
    margin-top: 20px;
    height: 300px;
    overflow: scroll;
    box-shadow: inset 0 40px 2px -2px #fff,
        inset 0 -40px 2px -2px #fff;
}

.auto-news-list__item,
.auto-news-list__caption
{
    font-size: 14px;
}

.auto-news-list__item
{
    color: #a1a1a1;
}

.auto-news-list__caption
{
    color: #000;
    padding-right: 10px;
}

.widgets__weather
{
    grid-row: 1 / 1;
    padding-bottom: 14px;
}

.widget-weather__content
{
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.sunny-icon
{
    width: 42px;
    padding-right: 20px;
}

.widget-weather-content__sunny-link:hover + .widget-weather-content__current-temperature
{
    color: #d31919;
}

.widget-weather-content__current-temperature,
.widget-weather-content__metcast
{
    color: #000;
}

.widget-weather-content__current-temperature
{
    font-size: 32px;
    padding-right: 20px;
}

.widget-weather-content__metcast
{
    font-size: 14px;
}

.metcast__night,
.metcast__morning
{
    color: #000;
}

.widgets__traffic-jams
{
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}

.widget-traffic-jams__content
{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.traffic-jams-value__light-icon
{
    padding: 0 14px;
    width: 20px;
}

.traffic-jams__value
{
    color: #000;
    display: flex;
    align-items: center;
}

.traffic-jams__description
{
    color: #000;
    font-size: 14px;
}

.widgets__map
{
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.widget-map__content
{
    margin-top: 14px;
    display: inline-block;
}

.map-content__service
{
    color: #000;
    font-size: 14px;
    padding-right: 20px;
    line-height: 30px;
}

.widgets__activity
{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.widget-activity__movie-list
{
    margin-top: 14px;
}

.movie-list__movie
{
    font-size: 14px;
    overflow: hidden; /* почему-то не работает*/
    text-overflow: ellipsis;
}

.movie-list__movie-link
{
    color: #000;
}

.movie-description
{
    color: #a1a1a1;
}

.movie-list__movie:hover .movie-description
{
    color: #d31919;
}
