body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: #d31919;
}

.main-content
{
    display: grid;
    grid-template:
        'header header mail' 80px
        '. news .' auto
        '. search .' 110px
        '. banner .' auto
        '. widgets .' auto
        / 220px auto 220px;
}

.header
{
    grid-area: header;
    display: flex;
    align-items: center;
}

.header__settings
{
    margin-left: auto;
    margin-right: 40px;
}

.geolocation
{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.geolocation__icon
{
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background-image: url('./images/icons/geolocation.svg');
}

.geolocation__link
{
    color: #a1a1a1;
    text-decoration: none;
    font-size: 14px;
}

.geolocation:hover
{
    cursor: pointer;
}

.geolocation:hover .geolocation__icon
{
    background-image: url('./images/icons/geolocation-red.svg');
}

.geolocation:hover .geolocation__link
{
    color: #d31919;
}

.settings
{
    display: flex;
}

.settings__icon
{
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.bookmark-icon
{
    background-image: url('./images/icons/bookmark.svg');
}

.bookmark-icon:hover
{
    background-image: url('./images/icons/bookmark-dark.svg');
    cursor: pointer;
}

.notification-icon
{
    background-image: url('./images/icons/notification.svg');
}

.notification-icon:hover
{
    background-image: url('./images/icons/notification-dark.svg');
    cursor: pointer;
}

.settings__link
{
    font-size: 14px;
    color: #000;
}

.mail
{
    grid-area: mail;
    padding: 8px;
}

.mailbox
{
    box-shadow: 0 0 3px #a1a1a1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    font-size: 14px;
}

.mailbox__login
{
    font-weight: 500;
    color: #000;
}

.mailbox__login::first-letter
{
    color: #d31919;
}

.mailbox__letters
{
    margin-top: 14px;
    color: #000;
}

.mailbox__letters-count
{
    font-weight: 500;
}

.news
{
    grid-area: news;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.news-content__header
{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
}

.news-content-header__headline,
.news-content-header__geolocation
{
    font-weight: 500;
}

.news-content-header__geolocation
{
    padding-left: 16px;
    color: #74abe4;
}

.news-content-header__date
{
    padding-left: 16px;
    font-size: 12px;
    color: #a1a1a1;
    margin: 0 0 1px;
}

.news-content-header__time
{
    padding-left: 4px;
    font-size: 12px;
    color: #a1a1a1;
}

.news-content__news-list
{
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 0;
}

.news-list__news
{
    padding-bottom: 14px;
}

.news-list__link
{
    color: #000;
}

.stock-market
{
    display: flex;
    padding-left: 20px;
    font-size: 14px;
}

.stock-market__stock-value
{
    margin: 0;
}

.stock-market__name
{
    font-weight: 500;
    color: #000;
    padding-right: 4px;
}

.stock-market__stock-value-fall-index
{
    padding: 0 14px 0 6px;
    color: #d31919;
    font-weight: 400;
}

.stock-market__move-icon
{
    background-image: url('./images/icons/more.svg');
    width: 12px;
    height: 12px;
    margin-top: 2px;
}

.stock-market__move-icon:hover
{
    background-image: url('./images/icons/more-dark.svg');
    cursor: pointer;
}

.news__advertising
{
    width: 160px;
    margin-left: 80px;
}

.news-advertising__image
{
    width: 160px;
    height: auto;
    margin-bottom: 14px;
}

.news-advertising__headline
{
    font-weight: 500;
}

.news-advertising__description
{
    margin-bottom: 0;
    font-size: 14px;
}

.search
{
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__headline
{
    margin: 0;
    font-size: 46px;
    font-weight: 400;
    letter-spacing: -2px;
}

.search__headline + .search__content
{
    margin-left: 20px;
}

.search__headline::first-letter
{
    color: #d31919;
}

.search__headline-link
{
    color: #000;
}

.search__headline-link:hover
{
    color: #000;
}

.search-content
{
    width: 780px;
    padding-right: 140px;
}

.search-content__menu-items
{
    margin: 9px 0 10px;
}

.search-content-menu-items__menu-item + .search-content-menu-items__menu-item
{
    margin-left: 20px;
}

.search-form
{
    display: flex;
    align-items: center;
}

.search-form__search-input
{
    flex: 1;
    height: 40px;
    border: 2px solid #ffdb4d;
    border-right: 0;
}

.search-form__search-button-wrapper
{
    position: relative;
}

.search-form__search-button
{
    padding: 0;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    border: 0;
    color: #000;
    background-color: #ffdb4d;
    outline: none;
}

.search-form__search-button:hover
{
    background-color: #ffd633;
}

.search-form__search-button-text
{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.search-form__search-button-text::before
{
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 20px 0 20px 12px;
    border-color: rgba(255,219,76,0);
    border-left-color: #ffdb4d;
}

.search-form__search-button:hover .search-form__search-button-text::before
{
    border-left-color: #ffd633;
}

.search-content__description
{
    font-size: 14px;
    margin: 8px 0 0;
}

.description-example
{
    color: #a1a1a1;
}

.advertising
{
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.advertising__image
{
    width: 756px;
    height: auto;
}

.widgets
{
    grid-area: widgets;
    display: grid;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.widget
{
    width: 240px;
}

.widgets-headline,
.widget-visited__category
{
    font-weight: 500;
}

.widget-visited__line,
.widget-visited__category,
.widget-visited__content
{
    font-size: 14px;
}

.widget-visited__category,
.widget-visited__content
{
    color: #000;
}

.widgets__anecdotes
{
    grid-column: 1 / 1;
}

.widget-anecdotes__category
{
    padding-top: 14px;
}

.widget-anecdotes__category,
.widget-anecdotes__anecdote
{
    font-size: 14px;
    margin: 0;
}

.widget-anecdotes__more-anecdotes
{
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-size: 14px;
}

.widget-anecdotes__more-anecdotes-icon
{
    background-image: url('./images/icons/more-anecdotes.svg');
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.widget-anecdotes__more-anecdotes:hover .widget-anecdotes__more-anecdotes-icon
{
    background-image: url('./images/icons/more-anecdotes-bright.svg');
    cursor: pointer;
}

.widgets__tv-program
{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-top: 14px;
}

.widget-tv-program__headline
{
    padding-right: 20px;
}

.widget-tv-program__tv-online-link
{
    font-size: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #74abe4, #541deb);
}

.widget-tv-program__tv-online-link:hover
{
    color: #fff;
    font-size: 14px;
}

.widget-tv-program__time,
.widget-tv-program__program-name,
.widget-tv-program__channel
{
    font-size: 14px;
}

.widget-tv-program__program-name
{
    color: #000;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.widget-tv-program__channel
{
    padding-left: 10px;
    color: #a1a1a1;
}

.widget-auto-news
{
    position: relative;
}

.widget-auto-news__headline
{
    display: inline-block;
    margin-bottom: 20px;
}

.widget-auto-news__shadow
{
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 40px;
}

.widget-auto-news__shadow_position_top
{
    top: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
}

.widget-auto-news__shadow_position_bottom
{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
}

.auto-news-list
{
    height: 300px;
    overflow-y: scroll;
}

.auto-news-list__item,
.auto-news-list__caption
{
    font-size: 14px;
}

.auto-news-list__item
{
    color: #a1a1a1;
}

.auto-news-list__caption
{
    color: #000;
    padding-right: 10px;
}

.widgets__weather
{
    grid-row: 1 / 1;
    padding-bottom: 14px;
}

.widget-weather__content
{
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.sunny-icon
{
    width: 42px;
    padding-right: 20px;
}

.widget-weather-content__sunny-link:hover + .widget-weather-content__current-temperature
{
    color: #d31919;
}

.widget-weather-content__current-temperature,
.widget-weather-content__metcast
{
    color: #000;
}

.widget-weather-content__current-temperature
{
    font-size: 32px;
    padding-right: 20px;
}

.widget-weather-content__metcast
{
    font-size: 14px;
}

.metcast__night,
.metcast__morning
{
    color: #000;
}

.widgets__traffic-jams
{
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}

.widget-traffic-jams__content
{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.traffic-jams-value__light-icon
{
    padding: 0 14px;
    width: 20px;
}

.traffic-jams__value
{
    color: #000;
    display: flex;
    align-items: center;
}

.traffic-jams__description
{
    color: #000;
    font-size: 14px;
}

.widgets__map
{
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.widget-map__content
{
    margin-top: 14px;
    display: inline-block;
}

.map-content__service
{
    color: #000;
    font-size: 14px;
    padding-right: 20px;
    line-height: 30px;
}

.widgets__activity
{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.widget-activity__movie-list
{
    margin-top: 14px;
}

.movie-list__movie
{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-list__movie-link
{
    color: #000;
}

.movie-description
{
    color: #a1a1a1;
}

.movie-list__movie:hover .movie-description
{
    color: #d31919;
}
